<div class="container" >
  <h1>Posts:</h1>
  <form (submit)="onSearch(event)" >
    <input ng-model #search class="form-control mt-4 mb-2" type="buscar" name='Search' placeholder="Search" aria-label="Search">
  </form>
  <div class="row">
    <div class='col-4' *ngFor="let post of (posts | async)">
      <div class="card mb-2 mt-2">
        <div class="card-body">
          <h5 class="card-title">{{ post.title | titlecase }}</h5>
          <p class="card-text">{{ post.body }}</p>
          <a [routerLink]="['/post', post.id]" class="btn btn-primary">Detalle</a>
        </div>
      </div>
    </div>
  </div>
</div>
  